openapi: 3.0.3
info:
  title: Bandienthoai E-Commerce API
  description: |
    REST API cho ứng dụng web bán điện thoại di động.
    
    ## Authentication
    - Public endpoints: Không yêu cầu token
    - Customer endpoints: Bearer JWT token (Authorization: Bearer <access_token>)
    - Admin endpoints: Bearer JWT token với admin role
    
    ## Rate Limiting
    - Public API: 100 requests/phút/IP
    - Authenticated: 1000 requests/phút/user
    
    ## Versioning
    URL versioning: /api/v1/
  version: 1.2.0
  contact:
    name: Tech Team
    email: tech@bandienthoai.vn
  license:
    name: Private

servers:
  - url: https://api.bandienthoai.vn/api/v1
    description: Production
  - url: https://api-staging.bandienthoai.vn/api/v1
    description: Staging
  - url: http://localhost:3000/api/v1
    description: Local Development

tags:
  - name: Auth
    description: Xác thực người dùng
  - name: Products
    description: Sản phẩm & danh mục (Public)
  - name: Cart
    description: Giỏ hàng
  - name: Orders
    description: Đơn hàng
  - name: Payments
    description: Thanh toán
  - name: Shipping
    description: Giao vận
  - name: Account
    description: Tài khoản khách hàng
  - name: Admin - Products
    description: Quản lý sản phẩm (Admin)
  - name: Admin - Inventory
    description: Quản lý tồn kho (Admin)
  - name: Admin - Orders
    description: Quản lý đơn hàng (Admin)
  - name: Admin - CMS
    description: Quản lý nội dung CMS (Admin)
  - name: Admin - Staff
    description: Quản lý nhân viên (Admin)
  - name: Admin - Promotions
    description: Quản lý khuyến mãi & voucher (Admin)
  - name: Admin - CS
    description: Quản lý CSKH & bảo hành (Admin)
  - name: Admin - Reports
    description: Báo cáo (Admin)
  - name: Public - SEO
    description: SEO & sitemap (Public)
  - name: Webhooks
    description: Webhook callbacks từ đối tác

paths:
  # ==================== AUTH ====================
  /auth/register:
    post:
      tags: [Auth]
      summary: Đăng ký tài khoản
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password, name]
              properties:
                phone:
                  type: string
                  pattern: '^0[0-9]{9}$'
                  example: "0901234567"
                password:
                  type: string
                  minLength: 8
                  example: "Password123"
                name:
                  type: string
                  example: "Nguyễn Văn A"
      responses:
        '201':
          description: Đăng ký thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '409':
          description: Số điện thoại đã tồn tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      tags: [Auth]
      summary: Đăng nhập
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, password]
              properties:
                phone:
                  type: string
                  example: "0901234567"
                password:
                  type: string
                  example: "Password123"
      responses:
        '200':
          description: Đăng nhập thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Sai thông tin đăng nhập
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Làm mới access token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token mới
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Đăng xuất
      security:
        - bearerAuth: []
      responses:
        '204':
          description: Đăng xuất thành công

  /auth/verify-otp:
    post:
      tags: [Auth]
      summary: Xác thực OTP đăng ký
      description: Xác thực mã OTP gửi tới số điện thoại sau khi đăng ký
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, otp]
              properties:
                phone:
                  type: string
                  pattern: '^0[0-9]{9}$'
                  example: "0901234567"
                otp:
                  type: string
                  minLength: 6
                  maxLength: 6
                  example: "123456"
      responses:
        '200':
          description: Xác thực thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: OTP không hợp lệ hoặc đã hết hạn
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Yêu cầu đặt lại mật khẩu
      description: Gửi OTP tới số điện thoại để bắt đầu quy trình reset mật khẩu
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone:
                  type: string
                  pattern: '^0[0-9]{9}$'
                  example: "0901234567"
      responses:
        '200':
          description: OTP đã được gửi
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "OTP đã được gửi tới số điện thoại"
        '404':
          description: Số điện thoại chưa đăng ký
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Đặt lại mật khẩu mới
      description: Xác thực OTP và đặt mật khẩu mới
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, otp, newPassword]
              properties:
                phone:
                  type: string
                  pattern: '^0[0-9]{9}$'
                  example: "0901234567"
                otp:
                  type: string
                  minLength: 6
                  maxLength: 6
                  example: "123456"
                newPassword:
                  type: string
                  minLength: 8
                  example: "NewPassword123"
      responses:
        '200':
          description: Mật khẩu đã được đặt lại
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Mật khẩu đã được đặt lại thành công"
        '400':
          description: OTP không hợp lệ hoặc đã hết hạn
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==================== PRODUCTS ====================
  /products:
    get:
      tags: [Products]
      summary: Danh sách sản phẩm
      parameters:
        - name: q
          in: query
          description: Từ khóa tìm kiếm
          schema:
            type: string
          example: "iPhone 15"
        - name: brand
          in: query
          schema:
            type: string
          example: "Apple"
        - name: category
          in: query
          schema:
            type: string
          example: "dien-thoai-apple"
        - name: minPrice
          in: query
          schema:
            type: integer
          example: 5000000
        - name: maxPrice
          in: query
          schema:
            type: integer
          example: 30000000
        - name: storage
          in: query
          schema:
            type: string
          example: "256GB"
        - name: sortBy
          in: query
          schema:
            type: string
            enum: [price_asc, price_desc, newest, popular]
          example: "price_asc"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Danh sách sản phẩm
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  /products/{slug}:
    get:
      tags: [Products]
      summary: Chi tiết sản phẩm
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
          example: "apple-iphone-15-pro"
      responses:
        '200':
          description: Chi tiết sản phẩm
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetail'
        '404':
          description: Không tìm thấy sản phẩm
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /categories:
    get:
      tags: [Products]
      summary: Danh sách danh mục
      responses:
        '200':
          description: Cây danh mục
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'

  # ==================== CART ====================
  /cart:
    get:
      tags: [Cart]
      summary: Xem giỏ hàng
      security:
        - bearerAuth: []
        - {}
      responses:
        '200':
          description: Giỏ hàng hiện tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'

  /cart/items:
    post:
      tags: [Cart]
      summary: Thêm vào giỏ
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [variantId, qty]
              properties:
                variantId:
                  type: string
                  format: uuid
                qty:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Giỏ hàng sau khi thêm
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '400':
          description: Không đủ tồn kho
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /cart/voucher:
    post:
      tags: [Cart]
      summary: Áp dụng voucher
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  example: "SALE10"
      responses:
        '200':
          description: Giỏ hàng với voucher đã áp dụng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cart'
        '400':
          description: Mã voucher không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==================== ORDERS ====================
  /orders:
    post:
      tags: [Orders]
      summary: Tạo đơn hàng (checkout)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Đơn hàng được tạo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          description: Dữ liệu không hợp lệ hoặc hết hàng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags: [Orders]
      summary: Danh sách đơn hàng của tôi
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Danh sách đơn hàng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'

  /orders/{id}:
    get:
      tags: [Orders]
      summary: Chi tiết đơn hàng
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Chi tiết đơn hàng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetail'

  /orders/{id}/cancel:
    post:
      tags: [Orders]
      summary: Hủy đơn hàng
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Hủy thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'

  # ==================== PAYMENTS ====================
  /payments/create:
    post:
      tags: [Payments]
      summary: Tạo link thanh toán
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [orderId, provider]
              properties:
                orderId:
                  type: string
                  format: uuid
                provider:
                  type: string
                  enum: [vnpay, momo, zalopay]
                returnUrl:
                  type: string
                  format: uri
      responses:
        '200':
          description: Link thanh toán
          content:
            application/json:
              schema:
                type: object
                properties:
                  paymentUrl:
                    type: string
                    format: uri
                  expiresAt:
                    type: string
                    format: date-time

  # ==================== SHIPPING ====================
  /shipping/estimate:
    post:
      tags: [Shipping]
      summary: Ước tính phí giao hàng
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [toProvince, toDistrict, toWard, weight]
              properties:
                toProvince:
                  type: string
                  example: "Hà Nội"
                toDistrict:
                  type: string
                  example: "Cầu Giấy"
                toWard:
                  type: string
                  example: "Dịch Vọng"
                weight:
                  type: integer
                  description: Gram
                  example: 300
      responses:
        '200':
          description: Các tùy chọn giao hàng với phí
          content:
            application/json:
              schema:
                type: object
                properties:
                  options:
                    type: array
                    items:
                      $ref: '#/components/schemas/ShippingOption'

  # ==================== ADMIN PRODUCTS ====================
  /admin/products:
    get:
      tags: [Admin - Products]
      summary: Danh sách sản phẩm (Admin)
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, draft, archived]
        - name: page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Danh sách sản phẩm (admin view)
    post:
      tags: [Admin - Products]
      summary: Tạo sản phẩm mới
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '201':
          description: Sản phẩm được tạo

  /admin/products/{id}:
    put:
      tags: [Admin - Products]
      summary: Cập nhật sản phẩm
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '200':
          description: Sản phẩm được cập nhật
    delete:
      tags: [Admin - Products]
      summary: Xóa (archive) sản phẩm
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Đã archive sản phẩm

  /admin/products/{id}/images:
    post:
      tags: [Admin - Products]
      summary: Upload ảnh sản phẩm
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
                sortOrder:
                  type: integer
                  default: 0
                isPrimary:
                  type: boolean
                  default: false
      responses:
        '201':
          description: Ảnh đã được upload
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  url:
                    type: string
                    format: uri
                  sortOrder:
                    type: integer
                  isPrimary:
                    type: boolean

  /admin/products/{id}/images/{imageId}:
    delete:
      tags: [Admin - Products]
      summary: Xóa ảnh sản phẩm
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: imageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Ảnh đã bị xóa
        '404':
          description: Ảnh không tồn tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/products/{id}/variants/{variantId}:
    put:
      tags: [Admin - Products]
      summary: Cập nhật biến thể sản phẩm (bao gồm giá sale)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: variantId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                color:
                  type: string
                storage:
                  type: string
                sku:
                  type: string
                listPrice:
                  type: integer
                salePrice:
                  type: integer
                  nullable: true
                salePriceFrom:
                  type: string
                  format: date-time
                  nullable: true
                salePriceTo:
                  type: string
                  format: date-time
                  nullable: true
                trackImei:
                  type: boolean
                status:
                  type: string
                  enum: [active, inactive]
      responses:
        '200':
          description: Biến thể được cập nhật

  # ==================== ADMIN CATEGORIES ====================
  /admin/categories:
    get:
      tags: [Admin - Products]
      summary: Danh sách danh mục (Admin)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cây danh mục
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
    post:
      tags: [Admin - Products]
      summary: Tạo danh mục mới
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, slug]
              properties:
                name:
                  type: string
                  example: "Điện thoại Apple"
                slug:
                  type: string
                  example: "dien-thoai-apple"
                parentId:
                  type: string
                  format: uuid
                  nullable: true
                sortOrder:
                  type: integer
                  default: 0
      responses:
        '201':
          description: Danh mục được tạo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'

  /admin/categories/{id}:
    put:
      tags: [Admin - Products]
      summary: Cập nhật danh mục
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                slug:
                  type: string
                parentId:
                  type: string
                  format: uuid
                  nullable: true
                sortOrder:
                  type: integer
      responses:
        '200':
          description: Danh mục được cập nhật
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
    delete:
      tags: [Admin - Products]
      summary: Xóa danh mục
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Danh mục đã bị xóa
        '409':
          description: Danh mục đang có sản phẩm, không thể xóa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==================== ADMIN STAFF ====================
  /admin/staff:
    get:
      tags: [Admin - Staff]
      summary: Danh sách nhân viên (Admin)
      security:
        - bearerAuth: []
      parameters:
        - name: role
          in: query
          schema:
            type: string
            enum: [manager, staff, warehouse]
        - name: isActive
          in: query
          schema:
            type: boolean
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Danh sách nhân viên
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/StaffAccount'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags: [Admin - Staff]
      summary: Tạo tài khoản nhân viên
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, phone, role]
              properties:
                name:
                  type: string
                phone:
                  type: string
                  pattern: '^0[0-9]{9}$'
                role:
                  type: string
                  enum: [manager, staff, warehouse]
                password:
                  type: string
                  minLength: 8
      responses:
        '201':
          description: Tài khoản nhân viên được tạo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaffAccount'

  /admin/staff/{id}/role:
    put:
      tags: [Admin - Staff]
      summary: Cập nhật vai trò nhân viên
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties:
                role:
                  type: string
                  enum: [manager, staff, warehouse]
                isActive:
                  type: boolean
      responses:
        '200':
          description: Vai trò đã được cập nhật
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaffAccount'
  /admin/inventory:
    get:
      tags: [Admin - Inventory]
      summary: Xem tồn kho
      security:
        - bearerAuth: []
      parameters:
        - name: warehouseId
          in: query
          schema:
            type: string
            format: uuid
        - name: lowStock
          in: query
          schema:
            type: boolean
          description: Chỉ hiển thị sản phẩm tồn thấp
      responses:
        '200':
          description: Danh sách tồn kho

  /admin/inventory/adjust:
    post:
      tags: [Admin - Inventory]
      summary: Điều chỉnh tồn kho thủ công
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [warehouseId, variantId, adjustment, reason]
              properties:
                warehouseId:
                  type: string
                  format: uuid
                variantId:
                  type: string
                  format: uuid
                adjustment:
                  type: integer
                  description: Số dương = nhập, âm = xuất
                reason:
                  type: string
      responses:
        '200':
          description: Tồn kho sau điều chỉnh

  /admin/inventory/imei:
    get:
      tags: [Admin - Inventory]
      summary: Danh sách IMEI/serial
      security:
        - bearerAuth: []
      parameters:
        - name: variantId
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [in_stock, reserved, sold, returned, warranty]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Danh sách IMEI/serial
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ImeiSerial'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
    post:
      tags: [Admin - Inventory]
      summary: Thêm IMEI/serial mới
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [variantId, imei]
              properties:
                variantId:
                  type: string
                  format: uuid
                imei:
                  type: string
                  example: "354688110123456"
      responses:
        '201':
          description: IMEI/serial đã được thêm
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImeiSerial'
        '409':
          description: IMEI đã tồn tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/inventory/imei/{imei}:
    get:
      tags: [Admin - Inventory]
      summary: Tra cứu theo IMEI
      security:
        - bearerAuth: []
      parameters:
        - name: imei
          in: path
          required: true
          schema:
            type: string
          example: "354688110123456"
      responses:
        '200':
          description: Thông tin IMEI và lịch sử
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImeiSerial'
        '404':
          description: IMEI không tồn tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/purchase-orders:
    post:
      tags: [Admin - Inventory]
      summary: Tạo Purchase Order (nhập hàng)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [supplierId, items]
              properties:
                supplierId:
                  type: string
                  format: uuid
                expectedAt:
                  type: string
                  format: date
                items:
                  type: array
                  items:
                    type: object
                    required: [variantId, qtyOrdered, unitCost]
                    properties:
                      variantId:
                        type: string
                        format: uuid
                      qtyOrdered:
                        type: integer
                        minimum: 1
                      unitCost:
                        type: integer
      responses:
        '201':
          description: Purchase Order đã được tạo
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  poNumber:
                    type: string
                    example: "PO-20260219-001"
                  status:
                    type: string
                    enum: [draft, ordered, partial, received, cancelled]
    get:
      tags: [Admin - Inventory]
      summary: Danh sách Purchase Orders
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, ordered, partial, received, cancelled]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Danh sách Purchase Orders

  /admin/purchase-orders/{id}/receive:
    post:
      tags: [Admin - Inventory]
      summary: Nhận hàng và cập nhật tồn kho
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  items:
                    type: object
                    required: [variantId, qtyReceived]
                    properties:
                      variantId:
                        type: string
                        format: uuid
                      qtyReceived:
                        type: integer
                        minimum: 0
                      imeiList:
                        type: array
                        items:
                          type: string
                        description: Danh sách IMEI (nếu variant có track_imei = true)
      responses:
        '200':
          description: Đã nhận hàng, tồn kho đã cập nhật

  # ==================== ADMIN ORDERS ====================
  /admin/orders:
    get:
      tags: [Admin - Orders]
      summary: Danh sách đơn hàng (Admin)
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: page
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Danh sách đơn

  /admin/orders/{id}/status:
    patch:
      tags: [Admin - Orders]
      summary: Cập nhật trạng thái đơn hàng
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  $ref: '#/components/schemas/OrderStatus'
                note:
                  type: string
      responses:
        '200':
          description: Đơn hàng được cập nhật

  /admin/orders/{id}/cancel:
    put:
      tags: [Admin - Orders]
      summary: Huỷ đơn hàng (Admin)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Đơn hàng đã bị huỷ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'

  /admin/orders/{id}/shipments:
    post:
      tags: [Admin - Orders]
      summary: Tạo vận đơn cho đơn hàng
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [carrier]
              properties:
                carrier:
                  type: string
                  enum: [ghn, ghtk]
                allowOpenPackage:
                  type: boolean
                  default: false
                codAmount:
                  type: integer
                  nullable: true
                  description: Số tiền thu hộ (COD), null nếu đã thanh toán trước
      responses:
        '201':
          description: Vận đơn đã được tạo
          content:
            application/json:
              schema:
                type: object
                properties:
                  trackingCode:
                    type: string
                  carrier:
                    type: string
                  labelUrl:
                    type: string
                    format: uri

  /admin/orders/{id}/refund:
    post:
      tags: [Admin - Orders]
      summary: Hoàn tiền đơn hàng
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, reason]
              properties:
                amount:
                  type: integer
                  description: Số tiền hoàn (VNĐ)
                reason:
                  type: string
      responses:
        '200':
          description: Yêu cầu hoàn tiền đã được tạo
          content:
            application/json:
              schema:
                type: object
                properties:
                  refundId:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [pending, processing, completed, failed]

  /admin/orders/{id}/shipping-address:
    put:
      tags: [Admin - Orders]
      summary: Thay đổi địa chỉ giao hàng (trước khi tạo vận đơn)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, phone, province, district, ward, street]
              properties:
                name:
                  type: string
                phone:
                  type: string
                  pattern: '^0[0-9]{9}$'
                province:
                  type: string
                district:
                  type: string
                ward:
                  type: string
                street:
                  type: string
      responses:
        '200':
          description: Địa chỉ giao hàng đã được cập nhật

  # ==================== ADMIN PROMOTIONS ====================
  /admin/promotions/vouchers:
    post:
      tags: [Admin - Promotions]
      summary: Tạo voucher mới
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code, type, value]
              properties:
                code:
                  type: string
                  example: "SALE10"
                type:
                  type: string
                  enum: [percent, fixed_amount]
                value:
                  type: number
                  description: Phần trăm (0–100) hoặc số tiền cố định (VNĐ)
                minOrderValue:
                  type: integer
                  nullable: true
                maxUses:
                  type: integer
                  nullable: true
                maxUsesPerCustomer:
                  type: integer
                  default: 1
                startsAt:
                  type: string
                  format: date-time
                  nullable: true
                endsAt:
                  type: string
                  format: date-time
                  nullable: true
      responses:
        '201':
          description: Voucher đã được tạo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Voucher'
        '409':
          description: Mã voucher đã tồn tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      tags: [Admin - Promotions]
      summary: Danh sách vouchers
      security:
        - bearerAuth: []
      parameters:
        - name: isActive
          in: query
          schema:
            type: boolean
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Danh sách vouchers

  # ==================== ADMIN CS ====================
  /admin/tickets:
    get:
      tags: [Admin - CS]
      summary: Danh sách ticket CSKH
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, rejected, completed]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Danh sách ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ticket'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /admin/tickets/{id}:
    put:
      tags: [Admin - CS]
      summary: Cập nhật trạng thái ticket
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [approved, rejected, completed]
                note:
                  type: string
                refundAmount:
                  type: integer
                  nullable: true
                refundMethod:
                  type: string
                  enum: [original_payment, bank_transfer, store_credit]
                  nullable: true
      responses:
        '200':
          description: Ticket đã được cập nhật
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'

  /admin/settings/return-policy:
    put:
      tags: [Admin - CS]
      summary: Cập nhật chính sách đổi trả
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                returnWindowDays:
                  type: integer
                  default: 7
                  description: Số ngày được phép đổi trả từ ngày nhận hàng
                requireEvidence:
                  type: boolean
                  default: true
                  description: Có yêu cầu ảnh/video bằng chứng không
      responses:
        '200':
          description: Chính sách đã được cập nhật

  # ==================== ACCOUNT ====================
  /account/orders:
    get:
      tags: [Account]
      summary: Lịch sử đơn hàng của khách hàng
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Danh sách đơn hàng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'

  /account/orders/{id}:
    get:
      tags: [Account]
      summary: Chi tiết đơn hàng của khách hàng
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Chi tiết đơn hàng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetail'
        '404':
          description: Đơn hàng không tồn tại hoặc không thuộc về người dùng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /account/orders/{id}/tracking:
    get:
      tags: [Account]
      summary: Theo dõi trạng thái vận chuyển
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Thông tin vận chuyển và lịch sử sự kiện
          content:
            application/json:
              schema:
                type: object
                properties:
                  carrier:
                    type: string
                  trackingCode:
                    type: string
                  status:
                    type: string
                  events:
                    type: array
                    items:
                      type: object
                      properties:
                        eventCode:
                          type: string
                        description:
                          type: string
                        location:
                          type: string
                        occurredAt:
                          type: string
                          format: date-time

  /account/tickets:
    post:
      tags: [Account]
      summary: Tạo ticket yêu cầu đổi/trả/bảo hành
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [orderId, reason, type]
              properties:
                orderId:
                  type: string
                  format: uuid
                type:
                  type: string
                  enum: [return, exchange, warranty]
                reason:
                  type: string
                description:
                  type: string
                evidence:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Ảnh/video bằng chứng
      responses:
        '201':
          description: Ticket đã được tạo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
        '400':
          description: Ngoài cửa sổ đổi trả hoặc thiếu bằng chứng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==================== ADMIN REPORTS ====================
  /admin/reports/revenue:
    get:
      tags: [Admin - Reports]
      summary: Báo cáo doanh thu
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: groupBy
          in: query
          schema:
            type: string
            enum: [day, week, month]
      responses:
        '200':
          description: Dữ liệu doanh thu

  /admin/reports/orders:
    get:
      tags: [Admin - Reports]
      summary: Báo cáo đơn hàng theo trạng thái
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: status
          in: query
          schema:
            type: string
        - name: export
          in: query
          schema:
            type: string
            enum: [excel, csv]
      responses:
        '200':
          description: Dữ liệu báo cáo đơn hàng

  /admin/reports/inventory:
    get:
      tags: [Admin - Reports]
      summary: Báo cáo tồn kho hiện tại
      security:
        - bearerAuth: []
      parameters:
        - name: warehouseId
          in: query
          schema:
            type: string
            format: uuid
        - name: lowStockOnly
          in: query
          schema:
            type: boolean
        - name: export
          in: query
          schema:
            type: string
            enum: [excel, csv]
      responses:
        '200':
          description: Dữ liệu tồn kho

  /admin/reports/cod-reconciliation:
    get:
      tags: [Admin - Reports]
      summary: Báo cáo đối soát COD
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: carrier
          in: query
          schema:
            type: string
            enum: [ghn, ghtk]
        - name: export
          in: query
          schema:
            type: string
            enum: [excel, csv]
      responses:
        '200':
          description: Dữ liệu đối soát COD

  /admin/reports/payment-reconciliation:
    get:
      tags: [Admin - Reports]
      summary: Báo cáo đối soát thanh toán online
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: provider
          in: query
          schema:
            type: string
            enum: [vnpay, momo, zalopay]
        - name: export
          in: query
          schema:
            type: string
            enum: [excel, csv]
      responses:
        '200':
          description: Dữ liệu đối soát thanh toán online

  # ==================== ADMIN CMS ====================
  /admin/banners:
    get:
      tags: [Admin - CMS]
      summary: Danh sách banner (Admin)
      security:
        - bearerAuth: []
      parameters:
        - name: position
          in: query
          schema:
            type: string
            enum: [home_top, home_middle, category]
        - name: isActive
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Danh sách banner
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Banner'
    post:
      tags: [Admin - CMS]
      summary: Tạo banner mới
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BannerRequest'
      responses:
        '201':
          description: Banner được tạo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Banner'

  /admin/banners/{id}:
    put:
      tags: [Admin - CMS]
      summary: Cập nhật banner
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BannerRequest'
      responses:
        '200':
          description: Banner được cập nhật
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Banner'
        '404':
          description: Banner không tồn tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [Admin - CMS]
      summary: Xóa banner
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Banner đã xóa
        '404':
          description: Banner không tồn tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/pages:
    get:
      tags: [Admin - CMS]
      summary: Danh sách trang tĩnh (Admin)
      security:
        - bearerAuth: []
      parameters:
        - name: isPublished
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Danh sách trang tĩnh
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Page'
    post:
      tags: [Admin - CMS]
      summary: Tạo trang tĩnh mới
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageRequest'
      responses:
        '201':
          description: Trang tĩnh được tạo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'

  /admin/pages/{id}:
    put:
      tags: [Admin - CMS]
      summary: Cập nhật trang tĩnh
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PageRequest'
      responses:
        '200':
          description: Trang tĩnh được cập nhật
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '404':
          description: Trang không tồn tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags: [Admin - CMS]
      summary: Xóa trang tĩnh
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Trang đã xóa
        '404':
          description: Trang không tồn tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==================== SEO ====================
  /sitemap.xml:
    get:
      tags: [Public - SEO]
      summary: Sitemap XML tự động
      description: |
        Trả về sitemap.xml chứa tất cả URL sản phẩm và trang tĩnh đang hoạt động.
        Tự động cập nhật khi có sản phẩm mới hoặc trang tĩnh mới được publish.
      responses:
        '200':
          description: Sitemap XML
          content:
            application/xml:
              schema:
                type: string
                description: XML sitemap theo chuẩn sitemaps.org

  # ==================== WEBHOOKS ====================
  /webhooks/payment/{provider}:
    post:
      tags: [Webhooks]
      summary: Payment webhook callback
      description: |
        Nhận callback từ cổng thanh toán sau khi giao dịch hoàn tất.
        Yêu cầu xác thực HMAC-SHA256 signature trong header.
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [vnpay, momo, zalopay, kredivo]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Payload tùy theo provider
      responses:
        '200':
          description: Webhook xử lý thành công
        '400':
          description: Signature không hợp lệ

  /webhooks/shipping/{carrier}:
    post:
      tags: [Webhooks]
      summary: Shipping webhook callback
      description: |
        Nhận cập nhật trạng thái vận chuyển từ carrier (GHN/GHTK).
        Yêu cầu xác thực token trong header.
      parameters:
        - name: carrier
          in: path
          required: true
          schema:
            type: string
            enum: [ghn, ghtk]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Payload theo chuẩn carrier
      responses:
        '200':
          description: Webhook xử lý thành công

# ==================== COMPONENTS ====================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    AuthResponse:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
          description: Seconds
          example: 900
        user:
          $ref: '#/components/schemas/UserProfile'

    UserProfile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        phone:
          type: string
        name:
          type: string
        email:
          type: string
        tier:
          type: string
          enum: [regular, silver, gold, vip]

    ProductListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/ProductSummary'
        pagination:
          $ref: '#/components/schemas/Pagination'

    ProductSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        brand:
          type: string
          example: "Apple"
        model:
          type: string
          example: "iPhone 15 Pro"
        slug:
          type: string
          example: "apple-iphone-15-pro"
        thumbnail:
          type: string
          format: uri
        minPrice:
          type: integer
          description: VNĐ
          example: 28990000
        maxPrice:
          type: integer
          example: 34990000
        hasSale:
          type: boolean
        inStock:
          type: boolean

    ProductDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
        brand:
          type: string
        model:
          type: string
        slug:
          type: string
        description:
          type: string
        specs:
          type: object
          additionalProperties: true
        images:
          type: array
          items:
            type: string
            format: uri
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ProductVariant'
        seo:
          type: object
          properties:
            title:
              type: string
            description:
              type: string
            schema:
              type: object

    ProductVariant:
      type: object
      properties:
        id:
          type: string
          format: uuid
        color:
          type: string
          example: "Titan Đen"
        storage:
          type: string
          example: "256GB"
        sku:
          type: string
        listPrice:
          type: integer
        salePrice:
          type: integer
          nullable: true
        available:
          type: integer
        images:
          type: array
          items:
            type: string
            format: uri

    Category:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        children:
          type: array
          items:
            $ref: '#/components/schemas/Category'

    Cart:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CartItem'
        subtotal:
          type: integer
        discount:
          type: integer
        shippingFee:
          type: integer
          nullable: true
        total:
          type: integer
        voucher:
          type: object
          nullable: true
          properties:
            code:
              type: string
            discount:
              type: integer

    CartItem:
      type: object
      properties:
        variantId:
          type: string
          format: uuid
        productName:
          type: string
        variantName:
          type: string
        qty:
          type: integer
        unitPrice:
          type: integer
        totalPrice:
          type: integer
        thumbnail:
          type: string
          format: uri

    CreateOrderRequest:
      type: object
      required: [addressId, paymentMethod, shippingMethod]
      properties:
        addressId:
          type: string
          format: uuid
        paymentMethod:
          type: string
          enum: [cod, bank_transfer, vnpay, momo, zalopay, kredivo]
        shippingMethod:
          type: string
          enum: [standard, express, pickup]
        carrierId:
          type: string
          enum: [ghn, ghtk]
        voucherCode:
          type: string
          nullable: true
        note:
          type: string
          nullable: true
        allowOpenPackage:
          type: boolean
          default: false
          description: Cho phép đồng kiểm khi nhận hàng

    OrderResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        orderNumber:
          type: string
          example: "ORD-20260219-001"
        status:
          $ref: '#/components/schemas/OrderStatus'
        total:
          type: integer
        paymentUrl:
          type: string
          format: uri
          nullable: true
          description: Chỉ có khi paymentMethod là online

    OrderDetail:
      allOf:
        - $ref: '#/components/schemas/OrderResponse'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/CartItem'
            shippingAddress:
              type: object
            statusHistory:
              type: array
              items:
                type: object
                properties:
                  status:
                    type: string
                  changedAt:
                    type: string
                    format: date-time
                  changedBy:
                    type: string
            shipment:
              type: object
              nullable: true
              properties:
                carrier:
                  type: string
                trackingCode:
                  type: string
                status:
                  type: string
                events:
                  type: array

    OrderListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/OrderResponse'
        pagination:
          $ref: '#/components/schemas/Pagination'

    ShippingOption:
      type: object
      properties:
        carrier:
          type: string
          enum: [ghn, ghtk]
        service:
          type: string
          example: "Giao hàng nhanh"
        fee:
          type: integer
          description: VNĐ
        estimatedDays:
          type: integer

    CreateProductRequest:
      type: object
      required: [brand, model, slug, status]
      properties:
        brand:
          type: string
          example: "Apple"
        model:
          type: string
          example: "iPhone 15 Pro"
        slug:
          type: string
          example: "apple-iphone-15-pro"
        description:
          type: string
        specs:
          type: object
        status:
          type: string
          enum: [active, draft, archived]
        categoryIds:
          type: array
          items:
            type: string
            format: uuid
        variants:
          type: array
          items:
            type: object
            required: [color, storage, sku, listPrice]
            properties:
              color:
                type: string
              storage:
                type: string
              sku:
                type: string
              listPrice:
                type: integer
              salePrice:
                type: integer
                nullable: true
              trackImei:
                type: boolean
                default: false

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "PRODUCT_NOT_FOUND"
            message:
              type: string
              example: "Sản phẩm không tìm thấy"
            details:
              type: object
            requestId:
              type: string
              format: uuid

    OrderStatus:
      type: string
      description: Trạng thái đơn hàng
      enum:
        - new
        - confirmed
        - packing
        - shipping
        - delivered
        - completed
        - cancelled
        - return_requested
        - returned

    Banner:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          example: "Khuyến mãi tháng 3"
        imageUrl:
          type: string
          format: uri
        linkUrl:
          type: string
          format: uri
          nullable: true
        position:
          type: string
          enum: [home_top, home_middle, category]
        isActive:
          type: boolean
        sortOrder:
          type: integer
        startsAt:
          type: string
          format: date-time
          nullable: true
        endsAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    BannerRequest:
      type: object
      required: [title, imageUrl, position]
      properties:
        title:
          type: string
          example: "Khuyến mãi tháng 3"
        imageUrl:
          type: string
          format: uri
        linkUrl:
          type: string
          format: uri
          nullable: true
        position:
          type: string
          enum: [home_top, home_middle, category]
        isActive:
          type: boolean
          default: true
        sortOrder:
          type: integer
          default: 0
        startsAt:
          type: string
          format: date-time
          nullable: true
        endsAt:
          type: string
          format: date-time
          nullable: true

    Page:
      type: object
      properties:
        id:
          type: string
          format: uuid
        slug:
          type: string
          example: "chinh-sach-doi-tra"
        title:
          type: string
          example: "Chính sách đổi trả"
        content:
          type: string
        metaTitle:
          type: string
          nullable: true
        metaDescription:
          type: string
          nullable: true
        isPublished:
          type: boolean
        publishedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    PageRequest:
      type: object
      required: [slug, title]
      properties:
        slug:
          type: string
          example: "chinh-sach-doi-tra"
        title:
          type: string
          example: "Chính sách đổi trả"
        content:
          type: string
        metaTitle:
          type: string
          nullable: true
        metaDescription:
          type: string
          nullable: true
        isPublished:
          type: boolean
          default: false

    StaffAccount:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        phone:
          type: string
        role:
          type: string
          enum: [super_admin, manager, staff, warehouse]
          description: "`super_admin` chỉ tồn tại qua seed/config, không tạo được qua API"
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time

    ImeiSerial:
      type: object
      properties:
        id:
          type: string
          format: uuid
        variantId:
          type: string
          format: uuid
        imei:
          type: string
          example: "354688110123456"
        status:
          type: string
          enum: [in_stock, reserved, sold, returned, warranty]
        orderItemId:
          type: string
          format: uuid
          nullable: true
        createdAt:
          type: string
          format: date-time

    Voucher:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          example: "SALE10"
        type:
          type: string
          enum: [percent, fixed_amount]
        value:
          type: number
        minOrderValue:
          type: integer
          nullable: true
        maxUses:
          type: integer
          nullable: true
        usedCount:
          type: integer
        maxUsesPerCustomer:
          type: integer
        isActive:
          type: boolean
        startsAt:
          type: string
          format: date-time
          nullable: true
        endsAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time

    Ticket:
      type: object
      properties:
        id:
          type: string
          format: uuid
        orderId:
          type: string
          format: uuid
        customerId:
          type: string
          format: uuid
        type:
          type: string
          enum: [return, exchange, warranty]
        reason:
          type: string
        status:
          type: string
          enum: [pending, approved, rejected, completed]
        description:
          type: string
          nullable: true
        evidenceUrls:
          type: array
          items:
            type: string
            format: uri
        refundMethod:
          type: string
          enum: [original_payment, bank_transfer, store_credit]
          nullable: true
        refundAmount:
          type: integer
          nullable: true
        note:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
